.flexBoxIndex, .flexBoxSoftware{
    border-top: white solid;
    border-bottom: white solid; 
}
.flexBoxExp, .basicInfo, .banner{
    border-top: white solid;
}
.logosAndLinks, .facebookProfile, .galleryThree{
    border-bottom: white solid;
}