@font-face{
    font-family: "Nunito";
    src: url(../assets/fonts/NunitoSans_7pt-ExtraLight.ttf);
    font-weight: 200;
}
@font-face{
    font-family: "Nunito";
    src: url(../assets/fonts/NunitoSans_7pt-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: "Nunito";
    src: url(../assets/fonts/NunitoSans_7pt-SemiBold.ttf);
    font-weight: 600;
}
body{
    font-family: "nunito";
    font-weight: 200;
}