.img{
    transition: all 1s;
}
.img:hover{
    height: 400px;
    width: 400px;
}
.mediaLogo{
    transition: all 1s;
}
.mediaLogo:hover{
    height: 100px;
    width: 100px;
}
.imgDemon{
    transition: all 1s;
}
.imgDemon:hover{
    height: 906px;
    width: 563px;
}
.imgVvNoir{
    transition: all 1s;
}
.imgVvNoir:hover{
    height: 1080px;
    width: 752px;
}
.imgVvElder{
    transition: all 1s;
}
.imgVvElder:hover{
    height: 509px;
    width: 372px;
}