.banner, .logosAndLinks, .galleryTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__link, .flexBoxIndex, .flexBoxSoftware {
  display: flex;
  justify-content: space-evenly;
}

.flexBoxExp {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.gallery, .youtubeThumbnail, .facebookProfile {
  display: flex;
  justify-content: center;
}

.galleryOne, .galleryThree {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/NunitoSans_7pt-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/NunitoSans_7pt-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/NunitoSans_7pt-SemiBold.ttf);
  font-weight: 600;
}
body {
  font-family: "nunito";
  font-weight: 200;
}

/*vars*/
/*endVars*/
@media (max-width: 320px) {
  .navigation__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flexBoxIndex {
    flex-direction: column;
    align-items: center;
  }
  .flexBoxSoftware {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 412px) {
  .navigation__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flexBoxIndex {
    flex-direction: column;
    align-items: center;
  }
  .flexBoxSoftware {
    flex-direction: column;
    align-items: center;
  }
}
.padding, .galleryThree, .facebookProfile, .youtubeThumbnail, body .title {
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
  background: #000000;
  color: white;
}
body .footer {
  padding-top: 30px;
  text-align: center;
}
body .title {
  text-align: center;
  color: #D470FF;
}

.navigation__link {
  padding-bottom: 30px;
}
.navigation__link a {
  font-weight: bold;
}
.navigation__link a:hover {
  color: #D470FF;
}

.flexBoxIndex {
  padding: 30px 0;
  border-top: white solid;
  border-bottom: white solid;
}
.flexBoxIndex .aboutMe {
  text-align: center;
  width: 309px;
  font-weight: 400;
}

.flexBoxExp {
  padding-top: 30px;
  border-top: white solid;
}
.flexBoxExp a {
  color: #D470FF;
  text-decoration: none;
}
.flexBoxExp .workExp {
  padding-left: 70px;
}
.flexBoxExp .paddingExp {
  padding-bottom: 15px;
}

.flexBoxSoftware {
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  border-top: white solid;
  border-bottom: white solid;
}

.basicInfo {
  padding-top: 30px;
  border-top: white solid;
}
.basicInfo p {
  text-align: center;
}

.logosAndLinks {
  padding-bottom: 30px;
  border-bottom: white solid;
}
.logosAndLinks a {
  text-decoration: none;
}

.banner {
  padding-bottom: 30px;
}
.banner .bannerImg {
  padding-bottom: 30px;
}
.banner h2 {
  color: #D470FF;
}
.banner .description {
  width: 600px;
  text-align: center;
}

.gallery {
  padding-bottom: 30px;
}

.facebookProfile {
  border-bottom: white solid;
}

.galleryOne {
  padding-bottom: 30px;
}

.galleryTwo {
  padding-top: 30px;
}

.galleryThree {
  border-bottom: white solid;
}/*# sourceMappingURL=style.css.map */