.banner, .logosAndLinks, .galleryTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__link, .flexBoxIndex, .flexBoxSoftware, .galleryOne, .galleryThree {
  display: flex;
  justify-content: space-evenly;
}

.flexBoxExp {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.gallery, .youtubeThumbnail, .facebookProfile {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/NunitoSans_7pt-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/NunitoSans_7pt-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/NunitoSans_7pt-SemiBold.ttf);
  font-weight: 600;
}
body {
  font-family: "nunito";
  font-weight: 200;
}

.flexBoxIndex, .flexBoxSoftware {
  border-top: white solid;
  border-bottom: white solid;
}

.flexBoxExp, .basicInfo, .banner {
  border-top: white solid;
}

.logosAndLinks, .facebookProfile, .galleryThree {
  border-bottom: white solid;
}

.img {
  transition: all 1s;
}

.img:hover {
  height: 400px;
  width: 400px;
}

.mediaLogo {
  transition: all 1s;
}

.mediaLogo:hover {
  height: 100px;
  width: 100px;
}

.imgDemon {
  transition: all 1s;
}

.imgDemon:hover {
  height: 906px;
  width: 563px;
}

.imgVvNoir {
  transition: all 1s;
}

.imgVvNoir:hover {
  height: 1080px;
  width: 752px;
}

.imgVvElder {
  transition: all 1s;
}

.imgVvElder:hover {
  height: 509px;
  width: 372px;
}

/*vars*/
/*endVars*/
.padding, .galleryThree, .facebookProfile, .youtubeThumbnail, .flexBoxSoftware, .flexBoxExp, .flexBoxIndex, body .title {
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
  background: #000000;
  color: white;
}
body .footer {
  padding-top: 30px;
  text-align: center;
}
body .title {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(212, 112, 255) 50%, rgb(0, 0, 0) 100%);
  text-align: center;
  color: black;
}

@keyframes fadeTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title {
  animation-duration: 5s;
  animation-name: fadeTitle;
  animation-iteration-count: 1;
}

.navigation__link {
  padding-bottom: 30px;
}
.navigation__link a {
  font-weight: bold;
}
.navigation__link a:hover {
  color: #D470FF;
}

.flexBoxIndex .aboutMe {
  text-align: center;
  width: 309px;
  font-weight: 400;
}

.flexBoxExp a {
  color: #D470FF;
  text-decoration: none;
}
.flexBoxExp .workExp {
  padding-left: 70px;
}
.flexBoxExp .paddingExp {
  padding-bottom: 15px;
}

.flexBoxSoftware {
  text-align: center;
  font-weight: bold;
}

.basicInfo {
  padding-top: 30px;
}
.basicInfo p {
  text-align: center;
}

.logosAndLinks {
  padding-bottom: 30px;
}
.logosAndLinks a {
  text-decoration: none;
}

.banner .bannerImg {
  padding-bottom: 30px;
}
.banner h2 {
  color: #D470FF;
}
.banner .description {
  width: 600px;
  text-align: center;
}

.gallery {
  padding-bottom: 30px;
}

.galleryOne {
  padding-bottom: 30px;
}

.galleryTwo {
  padding-top: 30px;
}

@media (max-width: 320px) {
  .navigation__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flexBoxIndex, .flexBoxSoftware, .gallery, .galleryOne, .galleryThree {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 412px) {
  .navigation__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flexBoxIndex, .flexBoxSoftware, .gallery, .galleryOne, .galleryThree {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */