@import "flex";
@import "fonts";
/*vars*/
$primary-color: #000000;
$secondary-color: white;
$border-top: white solid;
$border-bottom: white solid;
/*endVars*/
@media (max-width: 320px){
    .navigation__link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flexBoxIndex{
        flex-direction: column;
        align-items: center;
    }
    .flexBoxSoftware{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 412px){
    .navigation__link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flexBoxIndex{
        flex-direction: column;
        align-items: center;
    }
    .flexBoxSoftware{
        flex-direction: column;
        align-items: center;
    }
}
.padding{
    padding-top: 30px;
    padding-bottom: 30px;
}
body{
    background: $primary-color;
    color: $secondary-color;
    .footer{
        padding-top: 30px;
        text-align: center;
    }
    .title{
        @extend .padding;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(212,112,255,1) 50%, rgba(0,0,0,1) 100%);
        text-align: center;
        color: black;
    }
}
.navigation__link{
    padding-bottom: 30px;
    a{
        font-weight: bold;
        &:hover{
            color: #D470FF;
        }
    }
}
.flexBoxIndex{
    @extend .padding;
    border-top: $border-top;
    border-bottom: $border-bottom;
    .aboutMe{
        text-align: center;
        width: 309px;
        font-weight: 400;
    }
}
.flexBoxExp{
    @extend .padding
    border-top: $border-top;
    a{
        color: #D470FF;
        text-decoration: none;
    }
    .workExp{
        padding-left: 70px;
    }
    .paddingExp{
        padding-bottom: 15px;
    }
}
.flexBoxSoftware{
    @extend .padding
    text-align: center;
    font-weight: bold;
    border-top: $border-top;
    border-bottom: $border-bottom;
}
.basicInfo{
    @extend .padding;
    border-top: $border-top;
    p{
        text-align: center;
    }
}
.logosAndLinks{
    @extend .padding
    border-bottom: $border-bottom;
    a{
        text-decoration: none;
    }
}
.mediaLogo{
    transition: all 1s;
}
.mediaLogo:hover{
    height: 100px;
    width: 100px;
}
.banner{
    border-top: $border-top;
    .bannerImg{
        padding-bottom: 30px;
    }
    h2{
        color: #D470FF;
    }
    .description{
        width: 600px;
        text-align: center;
    }
}
.gallery{
    padding-bottom: 30px;
}
.youtubeThumbnail{
    @extend .padding;
}
.facebookProfile{
    @extend .padding;
    border-bottom: $border-bottom;
}
.galleryOne{
    padding-bottom: 30px;
}
.galleryTwo{
    padding-top: 30px;
}
.galleryThree{
    @extend .padding;
    border-bottom: $border-bottom;
}